<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ex3intents">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".East"
            android:label="@string/title_activity_east"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".West"
            android:label="@string/title_activity_west"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".eastPlayers"
            android:label="@string/title_activity_east_players"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>